#main-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    background-color: transparent;
}

#navtop{
    width: 600px;
    margin-top: 20px;
    margin-left: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

#navtop a{
    text-decoration: none;
    color: white;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
#navtop a:hover{
    border-bottom-left-radius: 30% 100%;
    border-bottom-right-radius: 30% 100%;
    border-top-left-radius: 30% 100%;
    border-top-right-radius: 30% 100%;
    background-color: #ffffff15;
    backdrop-filter: blur(3px);
}
#navtop a:first-child{
    width: auto;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    margin-right: 10px;
    padding: 3px 7px;
    background-color: #80808070;
    border-radius: 50% 15% 15% 15%;
}

#navtop a:last-child{
    width: auto;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    margin-left: 10px;
    padding: 3px 7px;
    background-color: #80808070;
    border-radius: 15% 50% 15% 15%;
}

#all-games{
    width: 100%;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
}

#game-list{
    width: 500%;
    height: 220px;
    display: flex;
    position: relative;
    left: 65px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s;
    z-index: 999;
    /* animation: animate 10s linear infinite; */
}
#game-list .game-item{ 
    position: relative;
    width: 170px;
    height: 150px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 10px;
    border: 3px solid transparent;
}
#game-list .game-item:hover{ 
    box-shadow: 0 0 0 3px   white; 
}

#game-list .game-item img{
    position: absolute;  
    width: 170px;
    height: 150px;
    top: -10000px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#box-limit{
    height: 107px;
    overflow: hidden;
}

#info-preview{
    height: 600%;
    transition: all 0.1s;
    z-index: -1;
}
.game-info-preview{
    margin-top: 15px;
    margin-left: 65px;
    width: 760px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    color: white;
    
}

.game-info-preview h1{
    width: 100%;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.game-info-preview .subinfo{
    margin-right: 10px;
}
.game-info-preview .r-date{ flex: 0 0 20%; }
.game-info-preview .g-genre{ flex: 0 0 60% }
.game-info-preview .g-meta{ flex: 0 0 15%; }
.game-info-preview .subinfo p:first-child{
    width: 100%;
    font-size: 10px;
}
.game-info-preview .subinfo p:last-child{
    margin-top: 3px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
}


article.hidden{
    opacity: 0;
}

@keyframes animate{
    from { opacity: 0; }
    to { opacity: 1; }
}

.selected{
    display: flex;
    animation: animate 0.3s;
}

#game-list .game-item.selected {
    box-shadow: 0 0 0 3px #0059ff; 
    width: 200px;
    /* max-width: 300px; */
    height: 200px;
}

#game-list .game-item.selected img{
    width: 150%;
    height: 100%;
}